@font-face {
  font-family: 'Monster High';
  src: url('Monster-High-Font/runytunesrevisited.regular.ttf');
}

body {
    background-color: #4a477c;
    color: #6e66bd;
    padding: auto;
    margin: auto;
    font-family: 'Monster High', sans-serif; /* Activa la fuente */
}


/* ===== Encabezado del evento ===== */
.header {
    background: linear-gradient(to right, #402668, #8c65a5);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.3rem;
}