body {
    @font-face 
  font-family: 'Monstew';
  src: url('Monster-High-Font') format('woff2');
  font-weight: normal;
  font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333149;
}

/* ===== Encabezado del evento ===== */
.header {
    background: linear-gradient(to right, #402668, #8c65a5);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.3rem;
}